<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule /contact.html http://peppermillwc.com [R=301,L]
RewriteRule /dinner.html http://peppermillwc.com [R=301,L]
RewriteRule /contact.html http://peppermillwc.com [R=301,L]
RewriteRule /index.html http://peppermillwc.com [R=301,L]
</IfModule>