<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
Redirect 301 /contact.html http://peppermillwc.com
Redirect 301 /dinner.html http://peppermillwc.com
Redirect 301 /contact.html http://peppermillwc.com
</IfModule>